<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<script src="{{ url_for('static', filename='js/kinetic.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		id = {{id}}
	</script>
</head>
<body>
	<div id="container"></div>
</body>
</html>
